:root {
  --primary: #ff9173;
  --light: #f2f1ef;
  --dark: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 230);
  border: 0;
  margin-left: 4%;
  margin-right: 4%;
}

/* ----------------the following topnav code is merged from Takoda---------------- */

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
}
.container img {
  height: 12vh;
  width: auto;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgb(240, 240, 230);
  padding: 1em;
}
.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.hamburger span {
  color: var(--dark);
  font-size: 2rem;
}

.menu {
  display: none;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  margin: 0px -16px;
}

.menu a {
  display: flex;
  text-align: center;
  flex-direction: column;

  color: var(--dark);
  margin: 0 16px;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 15px;
  font-size: 1.5em;
}

.menu a.active,
.menu a:hover {
  background-color: var(--primary);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: var(--dark);
  color: var(--light);
  transition: 0.3s;
}

.mobile-menu.is-open {
  opacity: 95%;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: var(--light);
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: var(--dark);
  background-color: var(--primary);
  border-radius: 10px;
}

/* -------------Jies previous coding -------------------*/

.dish {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 10%;
}
.dish img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 2%;
}
.dish a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2.5em;
}
p {
  font-size: 1.5em;
}
.recipe-container {
  display: grid;
  grid-template-rows: auto;
  gap: 2em;
  margin-top: 15%;
}

/* star rating session */

.rating-starts {
  user-select: none;
}
.star {
  border: none;
  color: peru;
  background-color: unset;
}
.star:hover {
  cursor: pointer;
}

/* responsive */

@media screen and (min-width: 769px) {
  /* the following code is for dorpdown menu */
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}

@media (min-width: 425px) and (max-width: 769px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.3em;
  }
  .recipe-container {
    margin-top: 18%;
  }
}

@media (max-width: 425px) {
  .dish {
    grid-template-columns: 1fr;
    gap: 5%;
  }

  .dish img {
    height: 40vh;
  }
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1em;
  }
  .recipe-container {
    margin-top: 12%;
  }
}
